body{
    --main-color: #005F05;
    --buttons-color: #F3A600;
    font-family: system-ui, -apple-system, -apple-system-font, 'Segoe UI', 'Roboto', sans-serif;
    font-size: 1em;
    background-color: honeydew;
}

header{
    color: white;
    background-color: var(--main-color, darkblue);
    font-size: 0.5em;
}

header button{
    color: white;
    background-color: rgba(10,10,10,0.5);;
    border: none;
    font-size: 25px;
}

header button:hover{
    background-color: rgba(255,255,255,0.2);
}

form .buttons{
    background-color: var(--main-color, darkblue);
}


form .buttons input,button{
    background-color:  var(--main-color, darkblue);
    border: solid 1px white;
    padding: 10px 15px;
    color: white;
}

form .buttons input:hover,button:hover{
    background-color: rgba(255,255,255,0.2);
}

form .buttons input:active,button:active{
    background-color: rgba(0,0,0,0.2);
}

aside{

    background-color: #012;
    color: white;
}

h2{
    font-size: 0.8em;
}

.page h2{
    border-bottom: solid 1px #DDD;
    background-color: #EEE;
}


.list li {
    border: solid 1px #DDD;
    width: 90%;
    background-color: white;
}

.list li:hover{
    background-color: #EEE;
}

.button-float{
    background-color: var(--buttons-color, red);
    color: white;
    font-size: 25px;
    box-shadow: 2px 2px 5px grey;
}

.button-float:hover{
    background-color: #225634DD;
}

#btnFoto{
    bottom: 75px;
}

#menu li:hover{
    background-color: #555;
}

.photo{
    max-width: 300px;
}

/*---------- CHAT ----------*/
#chat{
    background-color: #999;
}

#chat li {
    width: 85%;
    margin: 4px;
    padding-left: 35px;
}

#chat li.sent {
    background-color: #BDB;
    margin-left: 30px;
    border-radius: 30px 30px 0 30px;
}

#chat li.received {
    background-color: #FFFFFF;
    margin-right: 30px;
    border-radius: 0 30px 30px 30px;
}

#chat li small {
    color: gray;
}


#chat input#text {
    background-color: white;
    color: gray;
    width: 80%;
    margin-right: 15px;
}

form label{
    font-weight: bold;
    font-size: small;
}

/*---------------------------------*/


#main .icon{
    background-color: var(--buttons-color, red);
    font-weight: bold;
    font-size: 14px;
}

#main .icon p{
    font-size: 70px;
}

#main .icon.stop{
    background-color: #AA1111;
    color: white;
    background: linear-gradient(135deg, #AA2A2A 50%,#AA1111 51%);
}

#main .icon.comunication{
    color: white;
    background: linear-gradient(135deg, #356c35 50%,#262 51%);
}

#main .icon.watch{
    background-color: #F3A600;
    color: white;
    background: linear-gradient(135deg, #F6B323 50%,#F3A600 51%);
}

#main .icon.other{
    background-color: #606060;
    color: white;
    background: linear-gradient(135deg, #6c6b6b 50%,#606060 51%);
}


#main .icon:active{
    background: linear-gradient(135deg, #DDD 50%,#AAA 51%);
}


#tarjetas .observar .icon-eye{
  background-color: #F3A600;
  padding: 0 3px;
  margin-right: 5px;
}

.loading, .empty{
    color: gray;
}

#tarjetas li{
    text-transform: capitalize;
}

.list input[type="checkbox"]{
    float: right;
}

#tarjeta div.motivo{
    display:none;
}

#tarjeta .chkdesvio:checked ~ div.motivo{
    display:block;
}

.list li > label{
    font-weight: initial;
    font-size: initial;
    margin-left: 10px;
}

#divUsuario{
    padding: 30px;
    background-color: black;
}

#divUsuario .icon-user{
    font-size: 25px;
    margin-right: 10px;
}

#menu ul span{
    display: inline-block;
    font-size: 22px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    background-color: black;
}

#lstFotos button.icon-delete{
    color: red;
    right: 0;
    top: 0;
    background-color: white;
    border: solid 1px gray;
}

#lstFotos li{
    position: relative;
}

#lstFotos li input[type=radio]{
    display: none;
}

#lstFotos li input[type=radio]:checked ~ button.icon-delete{
    display: block;
}

#lstFotos li input[type=radio]:not(checked) ~ button.icon-delete{
    display: none;
}

#lblFotos{
    display: none;
}

div.epp{
    display: none;
}

#tarjeta .chkdesvio[value="Uso Incorrecto de Elemento de Protección Personal"]:checked ~ div.epp{
    display: block;
}

div.herramienta{
    display: none;
}

#tarjeta .chkdesvio[value="Uso Incorrecto de Herramienta"]:checked ~ div.herramienta{
    display: block;
}

#verTarjeta .chkshow{
    display: none;
}

#verTarjeta .chkshow:checked + li{
    display: block;
}

#verTarjeta .chkshow:not(checked) + li{
    display: none;
}

/*--------- ICONS -----------*/

.icon-eye::before {
  content: "\1F441"; /* 👁 Eye */
}

.icon-speech::before {
  content: "\1F4AC"; /* 💬 Speech Balloon */
}

.icon-hand::before {
  content: "\270B"; /* ✋ Raised Hand */
}

.icon-clip::before {
  content: "\1F4CE"; /* 📎 Paperclip */
}

.icon-camera::before {
  content: "\1F4F7"; /* 📷 Camera */
}
