* {
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    width:100%;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header h1{
    flex-grow: 1;
    text-align: center;
    flex-shrink: 0;
}

header button{
    padding: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    border-radius: 10%;
}

label[for=chkmenu]{
    width: 100%;
    display: inline-block;
}

#chkmenu{
    display: none;
}

#chkmenu:checked ~ #menu{
    left: 0;
    transition: left 0.3s ease-out;
    min-width: 70%;
}

#chkmenu:not(checked) ~ #menu{
    left: -100%;
    transition: left 0.3s ease-out;
}

#chkmenu:checked ~ #menulayer{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
}

#chkmenu:not(checked) ~ #menulayer{
    background-color: none;
    width: 1%;
}

#menu{
    position: absolute;
    top: 0;
    height: 100vh;
    display: flex;
    z-index: 100;
}

#menu a {
 text-decoration: none;   
 color: inherit;
}

#menu li {
 cursor: pointer;
}
    
#menulayer{
    top: 0;
    height: 100%;
    position: absolute;
    z-index: 10;
}

#menulayer label{
    height: 100%;
}

.context-menu{
    position: absolute;
    right: 15px;
    background-color: white;
    border: solid 1px silver;
    display: none;
    margin-top: -15px;
    padding: 10px;
    border-radius: 10%;
}

button.icon-context-menu{
    color: gray;
    background: none;
    border: none;
    height: 20px;
    width: 20px;
    float: right;
    padding: 1px;
    font-weight: bold;
    line-height: 18px;
    font-size:  18px;
    margin:0;
}

button.icon-context-menu:hover{
    background: rgba(200,200,200,0.5);
    border-radius: 50%;
}

h2{
    padding: 5px 0px;
    margin: 0;
    text-align: center;
}

main{
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

aside{
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    flex-shrink: 0;
}

.page{
    display:none;
    flex-grow: 1;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.page.show{
    display:flex;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0px 0px;
    padding:0px 0px;
    overflow: inherit;
}

.list li{
    padding-left: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li{
    padding: 10px 15px;
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

form fieldset{
    border: none;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 25px 15px;
}

form label{
    padding-top: 10px;
}

form input[type="text"],
     input[type="number"],
     input[type="date"],
     input[type="password"],
     input[type="email"],
     select, textarea{
    font-size: 16px;
    min-height: 24px;
    padding: 3px 5px 0px;
    width: 90%;
}

form textarea {
	min-height: 4em;
	max-height: 50vh;
	width: 95%;
    margin-left: 5px;
}

form .buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 15px;
}

form .buttons input,button{
    margin: 0 5px;
}

.button-float{
    position: absolute;
    right: 15px;
    bottom: 15px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding:0;
    margin: 0;
    text-align: center;
}

#main{
    flex-direction:row;
    flex-wrap: wrap;
    padding: 50px 30px;
}

#main .icon{
    flex: 1 0 31%;
    margin: 10px;
    text-align: center;
    user-select: none;
    min-width: 120px;
    min-height: 145px;
}

@media screen and (min-width:600px){

    #menu{
        position: inherit;
    }

    #chkmenu:checked ~ #menu{
        min-width: initial;
        display: flex;
    }

    #chkmenu:not(checked) ~ #menu{
        display: none;
    }

    #chkmenu:checked ~ #menulayer{
        display: none;
    }
}

@media screen and (orientation : landscape){
    #main{
        flex-direction:column;
        padding: 40px 10px;
    }
}

/*-------- ICONS -----------------*/

.icon-menu::before{
    content: "\2261"; /* ≡ Identical To: &equiv; */
}

.icon-exit::before{
    content: "\00D7"; /* × Multiplication Sign: &times; */
}

.icon-user::before{
    content: "\1F464"; /* 👤 Bust In Silhouette */
}

.icon-context-menu::before{
    content: "\FE19"; /* ︙ Presentation Form for Vertical Horizontal Ellipsis */
}

.icon-add::before{
    content: "	\002B"; /* + Plus Sign */
}

.icon-list::before{
    content: "\25A4"; /* ▤ Square with Horizontal Fill */
}

.icon-logout::before{
    content: "\21E6"; /* ⇦ Leftwards White Arrow */
}

.icon-delete::before{
    content: "\2717"; /* ✗ Ballot X */
}

.icon-config::before {
  content: "\2699"; /* ⚙ Gear */
}
